.interactive_button {
  transition: transform 200ms ease;
}
.interactive_button:hover {
  transform: scale(110%);
}
.banner_info {
  padding-top: calc(80px + 4rem) !important;
  padding-bottom: 3rem !important;
}
@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column !important;
    margin-top: 80px;
    border-radius: 0px !important;
  }
  .banner_img > img {
    object-position: 20% 50% !important;
  }
  .banner_info {
    position: relative !important;
    width: 100vw !important;
    padding: 1rem !important;
  }
  .banner_info > h1:nth-child(1) {
    text-align: center;
    font-size: 1.7rem !important;
  }
  .about_us {
    gap: 0rem !important;
  }
  .about_us > p {
    font-size: 1rem !important;
    padding: 1rem !important;
  }
  .logos {
    width: 100vw !important;
    gap: 0.5rem !important;
  }
  .logos > img {
    height: 60px !important;
  }
}
