.form {
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  gap: 1rem;
}
.form > input {
  padding: 0.5rem;
  border: none;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 7px;
}
.form > h2 {
  font-weight: 400;
}
.result {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  gap: 1rem;
  margin-top: calc(80px + 2rem);
}
.select {
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  gap: 1rem;
}
.select > select {
  padding: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.select > h2 {
  font-weight: 400;
}
.form,
.select {
  background-color: var(--ruby-red);
  color: white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}
.select > select {
  border: none;
  background: none;
  color: white;
  border-bottom: 2px solid white;
}
.select > select > option {
  color: black;
}
.form > input {
  background: none;
  border: 2px solid white;
  color: white;
  width: 80px !important;
}
.plan {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 7px;
}
.plan > div:nth-child(1) {
  border-bottom: 1px solid rgb(205, 205, 205);
  padding-bottom: 1rem;
  color: rgb(48, 48, 48);
}
.plan > div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}
.plan > div:nth-child(2) > div > p {
  color: rgb(134, 133, 133);
}
.plan > div:nth-child(2) > div > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}
.plan > div:nth-child(2) > div > div:nth-child(4) > p {
  font-weight: 800;
}
.task_tag {
  color: rgb(255, 0, 132);
}
.plan > div > h2 {
  margin-bottom: 0.5rem;
}
.plan > div > p {
  color: rgb(134, 133, 133);
}
@media only screen and (max-width: 600px) {
  .form,
  .select {
    width: 100vw;
    border-radius: 0px;
  }
  .plan {
    width: 100vw;
  }
  .result {
    margin-top: calc(80px + 1rem);
  }
}
