.container {
  margin-top: calc(2rem + 80px);
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  height: calc(100vh - 80px - 3rem);
  width: 80%;
  box-shadow: 0 0 25px 15px hsla(212, 7%, 43%, 0.1);
  margin-bottom: 1rem;
  position: relative;
  padding: 1rem;
  gap: 1rem;
}
.chat_log {
  width: 70%;
  height: 100%;
  border-right: 2px solid gray;
  position: relative;
  padding: 1rem;
  overflow-x: auto;
  direction: rtl;
}
.chat_input {
  width: 30%;
  height: 100%;
}
.chat_input > h1 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_input > textarea {
  border: 1px dashed gray;
  width: 100%;
  height: 80%;
  padding: 1rem;
  outline: none;
  font-family: var(--secondary-font);
  border-radius: 7px;
  font-size: 1.2rem;
  resize: none;
}
.bubble {
  width: 100%;
  position: relative;
  display: flex;
}
.bubble > div {
  max-width: 300px;
  padding: 1rem;
  border-radius: 7px;
  font-weight: 600;
}
.bubble > aside {
  border: 2px solid gray;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  bottom: -1rem;
}
