:root {
  --ruby-red: rgb(230, 60, 60);
  --bright-orange: rgb(251, 195, 111);
  --shadow: 0 0 25px 7px hsla(212, 7%, 43%, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}
/* width */
*::-webkit-scrollbar {
  width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
  }
}

@media only screen and (max-width: 600px) {
}
