.container {
  box-shadow: 0 0 25px 15px hsla(212, 7%, 43%, 0.1);
  width: 1250px;
  height: 80px;
  background-color: white;
  border-radius: 7px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
  margin-top: 1rem;
}

.title {
  display: flex;
  color: var(--ruby-red);
  font-weight: 600;
}
.title > h1 {
  margin: 0;
}
.title > img {
  height: 100%;
  width: auto;
}

.navigation {
  height: 100%;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.navlink {
  cursor: pointer;
  font-weight: 600;
  color: var(--ruby-red);
  transition: transform 200ms ease;
}
.navlink:hover {
  transform: scale(110%);
}
.login {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  position: relative;
  padding: 0.2rem 1rem;
  border-radius: 7px;
}
.login > button {
  cursor: pointer;
  transition: transform 200ms ease;
}

.login > button:hover {
  transform: scale(110%);
}
.menu_button {
  display: none;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    margin-top: 0;
    border-radius: 0px;
    padding: 1rem;
  }
  .title {
    font-size: 0.9rem;
    gap: 0.5rem;
  }
  .navigation {
    display: none;
  }
  .login {
    display: none;
  }
  .menu_button {
    display: block;
  }
}
